:root {
  --mp-spacing-01: 2px;
  --mp-spacing-02: 4px;
  --mp-spacing-03: 8px;
  --mp-spacing-04: 12px;
  --mp-spacing-05: 16px;
  --mp-spacing-06: 24px;
  --mp-spacing-07: 32px;
  --mp-spacing-08: 40px;
  --mp-spacing-09: 48px;
  --mp-spacing-10: 64px;
  --mp-spacing-11: 80px;
  --mp-spacing-12: 96px;
  --mp-spacing-13: 160px;
}
